<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../static/footer.css">
    <title>footer</title>
</head>
<body class="body_1" id="body_1">
    <a href="">소개</a>
    <a href="">블로그</a>
    <a href="">채용정보</a>
    <a href="">도움말</a>
    <a href="">약관</a>
    <a href="">위치</a>
    <a href="">음악</a>
    <a href="">한국어</a>

        
</body>
</html>