<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../static/head.css">
    <title>국민청원분석</title>
</head>
<body id="body_1" class="body_1">
    <div id="ground" class="ground">
    
    <div id="gr_1" class="gr_1">
        <img src="../../static/img/baby_7.jpg" alt="" >
        <img src="../../static/img/baby_8.jpg" alt="" >
        <img src="../../static/img/baby_9.jpg" alt="" >
    </div>
    <div id="gr_2" class="gr_2">
        
        <h1>ph_col</h1>
        <div id="format_border" class="format_border">
            <input type="text" id="user_id" autofocus>
            <div id="password_">
                <input type="password">
                <input type="submit" value="비밀번호 표시">
            </div>
            <div id="submit_1" class="submit_1">
                <input type="submit" value="로그인">
                <p> <del>----------</del> 또는 <del>----------</del></p>
                <p> <del>---------------------------</del></p>
                <a href="password_que.html"><div> 비밀번호를 잊으셨나요?</div></a>
                
        </div>
        
    </div>
    </div>
    <div id="gr_3" class="gr_3">
        <div>계정이 없으신가요?
            <a href="#"><p> 가입하기</p></a> 
        </div>
        
    </div>


    </div>
</div>

</body>

<style>
    @import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@800&family=Shizuru&family=Yuji+Hentaigana+Akebono&display=swap');
    </style>
</html>