<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../static/password_que.css">
    <title>비밀번호 재설정</title>
</head>
<body id="body_1" class="body_1">
    <div id="ground" class="ground">
        <div id="gr_1" class="gr_1">
        <img src="../../static/img/baby_4.jpg" alt="">
    </div>

    <div id="gr_2" class="gr_2">
        <h3>로그인에 문제가 있나요?</h3>
        <p>이메일 주소, 전화번호 또는 사용자 이름을 
            입력하시면 계정에 다시 액세스할 수 있는 
            링크를 보내드립니다.</p>
        <input type="text" placeholder="이메일, 전화번호, 사용자이름">
        <button type="submit">로그인 링크 보내기</button>
    </div>
    <div id="gr_3" class="gr_3">
         <p> <del>----------</del> 또는 <del>----------</del> </p>
          <a href="#"><div> 새 계정 만들기</div></a>
    </div>
    <div id="gr_4" class="gr_4">
        <button type="submit" onclick="document.location='base.html'">
        <p>로그인으로 돌아가기</p></button>
    </button>
    </div>

    </div>         

    
</body>



</html>