.body_1{
    background-color: #fafafa;
}
.ground{
    background-color: #ffffff;
    width: 388px;
    height: 522px;
    margin: 10vh auto;    
    display: grid;
    border: 1px solid gray;
    border-radius: 1%;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(6, 1fr);
    grid-template-areas: 
    "gr_1"
    "gr_2"
    "gr_2"
    "gr_2"
    "gr_3"
    "gr_4"
    ;
}

.gr_1{
    height: auto;
    width: auto;
    text-align: center;
    grid-area: gr_1;
    text-align: center;

}

.gr_1 img{
    height: auto;
    width: 30%;
    border-radius: 50%;
}

.gr_2{
    grid-area: gr_2;
    text-align: center;
    overflow:visible;
    color: gray;

}

.gr_2 input{
    margin-top: 1vh;
    text-align: center;
    height: 3vh;
    width: 220px;
}

.gr_2 button{
    margin-top: 1vh;
    text-align: center;
    height: 3vh;
    width: 220px;
    background-color: skyblue;
    color: white;
}

.gr_3{
    grid-area: gr_3;
    text-align: center;
    color: gray;

}

.gr_4{
   grid-area: gr_4;
   position: relative;
   width: auto;

}

.gr_4 button{
    position: absolute;
    bottom: 0px;
    width: 388px;

}


    /*  1. 비밀번호 재설정 칸 만들기 
        2. 장고를 이용한 위치 이동 / 로그인 비밀번호 입력 넘어가기 화면 구현
        3. 디스플레이 화면이 늘어나는 한계 만들기
        */
